[submodule "model"]
	path = model
	url = https://github.com/tittoassini/model
[submodule "flat"]
	path = flat
	url = https://github.com/tittoassini/flat
[submodule "typed"]
	path = typed
	url = https://github.com/tittoassini/typed
[submodule "quid2-net"]
	path = quid2-net
	url = https://github.com/tittoassini/quid2-net
[submodule "quid2-net-apps"]
	path = quid2-net-apps
	url = https://github.com/tittoassini/quid2-net-apps
[submodule "quid2-net-apps-ghcjs"]
	path = quid2-net-apps-ghcjs
	url = https://github.com/tittoassini/quid2-net-apps-ghcjs
