[submodule "model"]
	path = model
	url = https://github.com/tittoassini/model
[submodule "flat"]
	path = flat
	url = https://github.com/tittoassini/flat
[submodule "typed"]
	path = typed
	url = https://github.com/tittoassini/typed
[submodule "top-apps-ghcjs"]
	path = top-apps-ghcjs
	url = https://github.com/tittoassini/top-apps-ghcjs.git
[submodule "top-apps"]
	path = top-apps
	url = https://github.com/tittoassini/top-apps.git
[submodule "top"]
	path = top
	url = https://github.com/tittoassini/top.git
